{% extends "../registration/base.html" %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sample Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'sample/css/sample.css' %}" >
    <script type="text/javascript" src="{% static 'sample/js/jquery-3.5.0.min.js' %}" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Load c3.css -->
    <!-- <link href="/path/to/c3.css" rel="stylesheet"> -->
    <link href="{% static 'sample/css/c3.css' %}" rel="stylesheet">

    <!-- Load d3.js and c3.js -->
    <!-- <script src="/path/to/d3.v5.min.js" charset="utf-8"></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'sample/js/c3.min.js' %}"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
    <input type="month" name="month" value="" id="month">
    <div id="calendar">
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
       <!-- <form action="{% url "sample"  %}" method="post">-->
       <!--{% csrf_token %}-->
      <span class="close">&times;</span>
       <label for="dirnklevel">飲酒量：</label>
       <select name="level" id="drinklevel">
         <option value="0">--飲酒量を選択してくだい--</option>
         <option value="0">飲酒なし</option>
         <option value="1">少量</option>
         <option value="2">通常</option>
         <option value="3">多量</option>
       </select>
       <button id="saveScore" type="button">OK</button>
    </div>
    </div>
    <p>スコア:<b id="scoreCard">0</b></p>
    <div id="chart"></div>
    <script src="{% static 'sample/js/sample.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <a href="{% url "table" %}">table</a>
  </div>
  </body>
</html>

{% endblock %}
